In [4]:
import pandas as pd

#load the dataset
dataset = pd.read_csv('outwxdata.csv')

#show the first 5 rows of the dataset
dataset.tail(5)

,OutID,LocName,Lat,Long,OutTime,Type,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew
10827,10829,"Lukenya, Mombasa Road",-1.447048,37.044075,2019-07-31 10:35:04,Unplanned,18,0.4,5,6,1018,80,15
10828,10830,Kibera,-1.311704,36.789265,2019-07-31 10:32:26,Unplanned,18,0.4,5,6,1018,80,15
10829,10831,Umoja 3,-1.274308,36.894070,2019-07-31 10:32:00,Unplanned,18,0.4,5,6,1018,80,15
10830,10832,Kyuna,-1.253151,36.771850,2019-07-31 10:31:23,Unplanned,18,0.2,5,6,1018,80,15
10831,10833,Dandora Phase 3 And 4,-1.248545,36.905025,2019-07-31 10:31:12,Unplanned,18,0.4,5,6,1018,80,15

In [3]:
dataset = dataset[['LocName', 'Lat', 'Long', 'OutTime', 'Temp', 'Precip', 'WindSpd', 'WindGust', 'Press', 'Humid', 'Dew']]

dataset.head(5)

,LocName,Lat,Long,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew
0,"Langata, Nairobi",-1.364094,36.747627,2021-04-15 10:31:30,21,0.0,7,9,1016,72,15
1,Ongata Rongai Maasai Mall,-1.394336,36.763878,2021-04-15 10:26:51,21,0.0,7,9,1016,72,15
2,Norah and George Enterprise,-0.978356,37.605026,2021-04-15 10:08:02,22,0.0,6,7,1015,69,16
3,"Roysambu, Nairobi",-1.218459,36.886906,2021-04-15 10:07:42,21,0.0,7,9,1016,72,15
4,Norah and George Enterprise,-0.978352,37.605003,2021-04-15 10:07:40,22,0.0,6,7,1015,69,16

In [6]:
import numpy as np

holiday = pd.read_excel('kenya-holidays.xlsx')

#convert the datetime format to just 'date'
holiday_dates = np.array(holiday['Dates'].dt.date)

#adding a columns of zeros for 'Holiday'
dataset['Holiday'] = np.zeros((dataset.shape[0]))

In [10]:
dataset['OutTime'] = pd.to_datetime(dataset['OutTime'])

#extracting only the dates
outage_dates = dataset['Date'] = np.array(dataset['OutTime'].dt.date)

#adding holiday data
#iterating through all the holiday dates
for h_d in holiday_dates:   
    #if an outage date is found to coincide with a holiday date
    if h_d in outage_dates:
        #create a list of indicies where the dates match
        lt = np.where(outage_dates == h_d)
        #go through the list and mark the 'Holiday' column as '1'
        for i in lt:
            dataset['Holiday'][i] = 1

#finally we count the number of dates which where holidays vs not holidays            
dataset.groupby('Holiday').count()

<ipython-input-10-ee359317e4bd>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Holiday'][i] = 1

,OutID,LocName,Lat,Long,OutTime,Type,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Date
Holiday,,,,,,,,,,,,,,
0.0,10478,10478,10478,10478,10478,10478,10478,10478,10478,10478,10478,10478,10478,10478
1.0,354,354,354,354,354,354,354,354,354,354,354,354,354,354

In [12]:
dataset.head(500)

,OutID,LocName,Lat,Long,OutTime,Type,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Holiday,Date
0,2,"Langata, Nairobi",-1.364094,36.747627,2021-04-15 10:31:30,Unplanned,21,0.0,7,9,1016,72,15,0.0,2021-04-15
1,3,Ongata Rongai Maasai Mall,-1.394336,36.763878,2021-04-15 10:26:51,Unplanned,21,0.0,7,9,1016,72,15,0.0,2021-04-15
2,4,Norah and George Enterprise,-0.978356,37.605026,2021-04-15 10:08:02,Unplanned,22,0.0,6,7,1015,69,16,0.0,2021-04-15
3,5,"Roysambu, Nairobi",-1.218459,36.886906,2021-04-15 10:07:42,Unplanned,21,0.0,7,9,1016,72,15,0.0,2021-04-15
4,6,Norah and George Enterprise,-0.978352,37.605003,2021-04-15 10:07:40,Unplanned,22,0.0,6,7,1015,69,16,0.0,2021-04-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,497,Ongata Rongai Maasai Mall,-1.394336,36.763878,2021-03-27 11:12:49,Unplanned,25,0.0,17,20,1014,28,5,0.0,2021-03-27
496,498,Mtwapa Creek,-3.949800,39.734890,2021-03-27 10:58:31,Unplanned,30,0.0,8,9,1012,66,23,0.0,2021-03-27
497,499,"Bridge House, Nkoroi",-1.412992,36.711906,2021-03-27 10:41:59,Unplanned,24,0.0,16,18,1015,33,6,0.0,2021-03-27
498,500,"Dagoretti Rd, Nairobi",-1.320355,36.704109,2021-03-27 10:34:41,Unplanned,24,0.0,16,18,1015,33,6,0.0,2021-03-27
499,501,Matasia,-1.399229,36.680500,2021-03-27 10:23:12,Unplanned,24,0.0,16,18,1015,33,6,0.0,2021-03-27

In [14]:
dataset = dataset[['Lat', 'Long', 'OutTime', 'Temp', 'Precip', 'WindSpd', 'WindGust', 'Press', 'Humid', 'Dew', 'Holiday']]
dataset.head(10)

,Lat,Long,OutTime,Temp,Precip,WindSpd,WindGust,Press,Humid,Dew,Holiday
0,-1.364094,36.747627,2021-04-15 10:31:30,21,0.0,7,9,1016,72,15,0.0
1,-1.394336,36.763878,2021-04-15 10:26:51,21,0.0,7,9,1016,72,15,0.0
2,-0.978356,37.605026,2021-04-15 10:08:02,22,0.0,6,7,1015,69,16,0.0
3,-1.218459,36.886906,2021-04-15 10:07:42,21,0.0,7,9,1016,72,15,0.0
4,-0.978352,37.605003,2021-04-15 10:07:40,22,0.0,6,7,1015,69,16,0.0
5,-1.274421,36.702763,2021-04-15 09:55:26,19,0.0,6,6,1017,80,16,0.0
6,-1.205604,36.779606,2021-04-15 09:55:15,19,0.0,6,6,1017,80,16,0.0
7,-0.088294,34.725746,2021-04-15 09:54:16,20,0.0,5,6,1015,87,18,0.0
8,-1.359227,36.937984,2021-04-15 09:51:32,19,0.0,6,6,1017,80,16,0.0
9,-0.827867,37.037350,2021-04-15 09:04:10,20,0.0,4,5,1016,79,16,0.0

In [15]:
dataset.to_csv('outwxdata_cleaned.csv')