In [11]:
import pandas as pd
import numpy as np
import json
import geopandas as gpd
import shapefile
import folium
import fiona
import branca.colormap as cm
from shapely.geometry import MultiPoint, Point, Polygon, shape, mapping
from shapely.geometry.polygon import Polygon

In [47]:
fname = 'ken.shp'
nil = gpd.read_file(fname)
nil.head()

,Shape_Leng,Shape_Area,ADM2_EN,ADM2_PCODE,ADM2_REF,ADM2ALT1EN,ADM2ALT2EN,ADM1_EN,ADM1_PCODE,ADM0_EN,ADM0_PCODE,date,validOn,ValidTo,geometry
0,1.746986,0.040829,Ainabkoi,KE027144,None,None,None,Uasin Gishu,KE027,Kenya,KE,2017-11-03,2019-10-31,None,"POLYGON ((35.35933 0.52108, 35.36047 0.52079, ..."
1,0.917307,0.019957,Ainamoi,KE035190,None,None,None,Kericho,KE035,Kenya,KE,2017-11-03,2019-10-31,None,"POLYGON ((35.26262 -0.23064, 35.26395 -0.23135..."
2,1.402637,0.038000,Aldai,KE029152,None,None,None,Nandi,KE029,Kenya,KE,2017-11-03,2019-10-31,None,"POLYGON ((34.93989 0.08211, 34.94360 0.08175, ..."
3,1.081354,0.049357,Alego Usonga,KE041234,None,None,None,Siaya,KE041,Kenya,KE,2017-11-03,2019-10-31,None,"POLYGON ((34.20727 0.15971, 34.20937 0.15920, ..."
4,0.743915,0.021365,Awendo,KE044254,None,None,None,Migori,KE044,Kenya,KE,2017-11-03,2019-10-31,None,"POLYGON ((34.54577 -0.74820, 34.54787 -0.75130..."

In [49]:
nil=nil[['ADM2_EN','ADM1_EN', 'geometry']]
nil.head()

,ADM2_EN,ADM1_EN,geometry
0,Ainabkoi,Uasin Gishu,"POLYGON ((35.35933 0.52108, 35.36047 0.52079, ..."
1,Ainamoi,Kericho,"POLYGON ((35.26262 -0.23064, 35.26395 -0.23135..."
2,Aldai,Nandi,"POLYGON ((34.93989 0.08211, 34.94360 0.08175, ..."
3,Alego Usonga,Siaya,"POLYGON ((34.20727 0.15971, 34.20937 0.15920, ..."
4,Awendo,Migori,"POLYGON ((34.54577 -0.74820, 34.54787 -0.75130..."

In [53]:
point = geopandas.GeoDataFrame.from_file('POINT.shp') 
poly  = geopandas.GeoDataFrame(nil)
from geopandas.tools import sjoin
pointInPolys = sjoin(point, poly, how='left')
grouped = pointInPolys.groupby('index_right')
poly2  = geopandas.GeoDataFrame(grouped)
poly2

C:\Anaconda\envs\myenv1\lib\site-packages\geopandas\tools\sjoin.py:58: UserWarning: CRS of frames being joined does not match!({'init': 'epsg:4326'} != None)
  warn(

         0                                                  1
0      3.0                      geometry  index_right     ...
1      4.0                       geometry  index_right ADM...
2      8.0                      geometry  index_right     ...
3     11.0                       geometry  index_right ADM...
4     12.0                       geometry  index_right ADM...
..     ...                                                ...
147  284.0                      geometry  index_right     ...
148  286.0                       geometry  index_right    ...
149  287.0                        geometry  index_right   ...
150  288.0                        geometry  index_right   ...
151  289.0                        geometry  index_right AD...

[152 rows x 2 columns]

In [57]:
string0 = str(poly2[1].iloc[0])
string1 = string0.split(' ')
string1

AttributeError: 'GeoDataFrame' object has no attribute 'split'

In [ ]:
with open('pred_data.json', mode='r') as f:
    json_data = json.load(f)

likelihood_list = [json_dict['likelihood'] for json_dict in json_data]
latlng_list = [json_dict['lat'],['lng'] for json_dict in json_data]


print(latlng_list)

In [ ]:
num = 288
lat = np.array(lhoods['lat'][0:num])
lon = np.array(lhoods['lng'][0:num])
lk = np.array(lhoods['likelihood'][0:num],dtype=float)
data1 = [[lat[i],lon[i],lk[i]] for i in range(num)]

In [ ]:
fig7=folium.Figure(width=850,height=550)

outage_pred = folium.Map(location=[-1.297690, 36.835020],zoom_start=7)
outage_pred.add_children(HeatMap(data1, radius=15))
outage_pred

In [ ]:
outage_pred.save("outage_pred.html")
webbrowser.open("outage_pred.html")